
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="nk-block-title">Thêm quản trị viên</h5>
                                            <div class="nk-block-des">
                                                <p>Thêm mới quản trị viên</p>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block-head -->
                                    <form method="post">
                                    <div class="nk-block">
                                        <div class="row g-3">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="product-title">Tên đăng nhập</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" ng-model="customer.username" class="form-control" id="product-title">
                                                        
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="product-title">Mật khẩu</label>
                                                    <div class="form-control-wrap">
                                                        <input type="password" ng-model="customer.password" class="form-control" id="product-title">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-mb-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="regular-price">Họ và tên</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" ng-model="customer.fullname" class="form-control" id="regular-price">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-mb-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="sale-price">Email</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" ng-model="customer.email" class="form-control" id="sale-price">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-mb-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="stock">Số điện thoại</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" ng-model="customer.phone" class="form-control" id="stock">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-mb-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="SKU">Địa chỉ</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" ng-model="customer.address" class="form-control" id="SKU">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                          	
                                            <div class="col-12">
                                                <button ng-click="create()" class="btn btn-primary"><em class="icon ni ni-plus"></em><span>Thêm mới</span></button>
                                            </div>
                                        </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>