<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MoonStore-Quên mật khẩu</title>

<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/site/css/account.css">

</head>
<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Quên mật khẩu</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div
							class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
								<h2>Chào mừng bạn đến với trang quên mật khẩu</h2>
								<a th:href="@{/mstore/account/login}" class="btn btn-white btn-outline-white">Đăng
									nhập ngay</a>
							</div>
						</div>
						<div class="login-wrap p-4 p-lg-5">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Quên mật khẩu</h3>
								</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#"
											class="social-icon d-flex align-items-center justify-content-center"><span
											class="fa fa-facebook"></span></a> <a href="#"
											class="social-icon d-flex align-items-center justify-content-center"><span
											class="fa fa-twitter"></span></a>
									</p>
								</div>
							</div>
							<form th:action="@{/mstore/account/forgot-password}" method="post" class="signin-form">
								<div class="form-group mb-3">
									<label class="label" for="name">Tên đăng nhập</label> <input
										type="text" class="form-control" name="username" placeholder="Username"
										>
								</div>
								<div class="form-group mb-3">
									<label class="label" for="password">Email</label> <input
										type="email" class="form-control" name="email"  placeholder="Email"
										>
								</div>
								<div class="form-group">
									<button type="submit"
										class="form-control btn btn-primary submit px-3">Xác nhận</button>
									<a class="text-danger" th:utext="${message}"></a>	
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/site/js/jquery.min.js"></script>
	<script src="/site/js/popper.js"></script>
	<script src="/site/js/bootstrap.min.js"></script>
	<script src="/site/js/main.js"></script>

</body>
</html>

