<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout"
		layout:decorator="/site/layout">
<head>
<meta charset="UTF-8">
<title>Lịch sử</title>
</head>
<body>
<div class="bg0 m-t-23 p-b-140" layout:fragment="content">
		<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/site/images/bg-01.jpg');">
			<h2 class="ltext-105 cl0 txt-center">
				Lịch sử mua hàng
			</h2>
		</section>
		<div class="container mt-5">
		<div class="panel panel-primary">
			<table class="table">
				<thead>
					<tr>
						<th>No.</th>
						<th>Order No.</th>
						<th>Order Date</th>
						<th>Shipping Address</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order,state: ${orders}">
						<td>[[${state.index}]]</td>
						<td>[[${order.id}]]</td>
						<td>[[${order.orderdate}]]</td>
						<td>[[${order.address}]]</td>
						<td>[[${order.status ? 'Đã xác nhận' : 'Chưa xác nhận'}]]</td>
						<td>
							<a th:href="@{|/order/detail/${order.id}|}" class="btn btn-default">
								Xem chi tiêt
							</a>
						</td>
					</tr>
				</tbody>	
			</table>
		</div>			
		</div>
	</div>
</body>
</html>