<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout"
		layout:decorator="/site/layout">
<head>
<meta charset="UTF-8">
<title>Trang cá nhân</title>
</head>
<body>
<div layout:fragment="content">
		<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/site/images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Account
		</h2>
	</section>
	<section class="py-5 my-5">
		<div class="container">
			<h3 class="mb-4">Đổi mật khẩu</h3>
						<form>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Mật khẩu cũ</label>
									<input type="password" name="password" class="form-control">
									<input type="text" name="username" hidden="hidden">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Mật khẩu mới</label>
									<input type="password" name="newpass" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Xác nhận mật khẩu</label>
									<input type="password" name="confirmpass" class="form-control">
								</div>
							</div>
						</div>
						
						<div>
							<button type="submit" class="btn btn-primary">Cập nhập</button>
							<button class="btn btn-light">Cancel</button>
						</div>
						</form>
					</div>	
	</section>
</div>
</body>
</html>