<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MoonStore</title>

<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/site/css/account.css">

</head>
<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					
						<div class="login-wrap p-4 p-lg-5">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Cảm ơn bạn đã tạo tài khoản MoonStore</h3>
								</div>
								<div class="w-100">
									<label class="label" for="name">Đọc điều khoản sau để chắc chắn thông tin của bạn đúng.</label>
									<a>1. Thông tin địa chỉ đăng kí của bạn là đúng để chúng tôi có thể giao hàng chính xác</a> <br>
									<a>2. Kiểm tra email của bạn để kích hoạt tài khoản</a>
								</div>
								
							</div>
								<div class="form-group">
									<a type="submit" th:href="@{/mstore/account/login}"
										class="form-control btn btn-primary submit px-3">Đăng nhập ngay bây giờ</a>
									<a th:utext="${message}"></a>	
								</div>
						</div>

				</div>
			</div>
		</div>
	</section>

	<script src="/site/js/jquery.min.js"></script>
	<script src="/site/js/popper.js"></script>
	<script src="/site/js/bootstrap.min.js"></script>
	<script src="/site/js/main.js"></script>

</body>
</html>

