<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout"
		layout:decorator="/site/layout">
<head>
<meta charset="UTF-8">
<title>Trang cá nhân</title>
</head>
<body>
<div layout:fragment="content">
		<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/site/images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Account
		</h2>
	</section>
	<section class="py-5 my-5">
		<div class="container">
			<h1 class="mb-5">Thông tin tài khoản</h1>
			<label class="text-danger" th:text="${message}">Xác nhận mật khẩu mới</label>
			<div class="bg-white shadow rounded-lg d-block d-sm-flex">
			<div class="profile-tab-nav border-right">
					<div class="p-4">
						<h4 class="text-center" th:utext="${session.USERINJD.getFullname()}">Kiran Acharya</h4>
					</div>
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab"
							aria-controls="account" aria-selected="true">
							<i class="fa fa-home text-center mr-1"></i>
							Tài khoản
						</a>
						<a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab"
							aria-controls="password" aria-selected="false">
							<i class="fa fa-key text-center mr-1"></i>
							Mật khẩu
						</a>
						<a class="nav-link" id="history-tab" data-toggle="pill" href="#history" role="tab"
							aria-controls="history" aria-selected="false">
							<i class="fa fa-user text-center mr-1"></i>
							Lịch sử mua hàng
						</a>
					</div>
				</div>
				<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
					<div th:replace="/site/accounts/account"></div>
					<div th:replace="/site/accounts/password"></div>
					<div th:replace="/site/accounts/history"></div>
					
				</div>
		</div>
		</div>	
	</section>
	
</div>
</body>
</html>