<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout"
		layout:decorator="/site/layout">
<head>
<meta charset="UTF-8">
<title>Trang cá nhân</title>
</head>
<body>
<div layout:fragment="content">
		<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/site/images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Account
		</h2>
	</section>
	<section class="py-5 my-5">
		<div class="container">
			<h3 class="mb-4">Thông tin tài khoản</h3>
						<form th:action="@{/account/profile}" th:object="${account}" method="post">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Tên đăng nhập</label>
									<input type="text" th:field="*{username}" class="form-control" readonly="readonly">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Họ và tên</label>
									<input type="text" th:field="*{fullname}" class="form-control" name="fullname">
									<input type="text" hidden="hidden" th:field="*{password}" class="form-control" name="fullname">
									<input type="text" hidden="hidden" th:field="*{activated}" class="form-control" name="fullname">
									<input type="text" hidden="hidden" th:field="*{dateregister}" class="form-control" name="fullname">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Email</label>
									<input type="text" th:field="*{email}" class="form-control" name="email">
									
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Số điện thoại</label>
									<input type="text" th:field="*{phone}" class="form-control" name="phone">
									
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Địa chỉ</label>
									<input type="text" th:field="*{address}" class="form-control" name="address">
									
								</div>
							</div>
							
						</div>
						<p class="text-danger" th:text="${message}"></p>
						<div>
							<button class="btn btn-primary">Cập nhập</button>
							<button class="btn btn-light">Thoát</button>
						</div>
						</form>
		</div>	
	</section>
</div>
</body>
</html>