<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout"
		layout:decorator="/admin/layout-admin">
<head>
<meta charset="UTF-8">
<title>Customer</title>
</head>
<body>
	<div class="nk-content" layout:fragment="content">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Khách hàng</h3>
                                        </div><!-- .nk-block-head-content -->
                                        <div class="nk-block-head-content">
                                            <div class="toggle-wrap nk-block-tools-toggle">
                                                <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="more-options"><em class="icon ni ni-more-v"></em></a>
                                                <div class="toggle-expand-content" data-content="more-options">
                                                    <ul class="nk-block-tools g-3">
                                                        <li>
                                                            <div class="form-control-wrap">
                                                                <div class="form-icon form-icon-right">
                                                                    <em class="icon ni ni-search"></em>
                                                                </div>
                                                                <form th:action="@{/admin/customer/page/1}">
                                                                	<input type="text" class="form-control" id="default-04" name="keyword" th:value="${keyword}" onchange="this.form.submit()" placeholder="Tìm kiếm">
                                                                </form>
                                                            </div>
                                                        </li>
                                                        <li>
                                                        
                                                            <div class="drodown">
                                                                <a href="#" class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white" data-toggle="dropdown">Bộ lọc</a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <ul class="link-list-opt no-bdr">
                                                                        <li><a th:href="@{/admin/customer/page/1?show=admin}"><span>Quản trị viên</span></a></li>
                                                                        <li><a th:href="@{/admin/customer}"><span>Khách hàng</span></a></li>
                                                                        <!-- <li><a href="#"><span>Chưa kích hoạt</span></a></li> -->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                          
                                                        </li>
                                                        <li class="nk-block-tools-opt">
                                                            <a href="#" class="btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a>
                                                            <a th:href="@{/admin/add-admin}" class="btn btn-primary d-none d-md-inline-flex"><em class="icon ni ni-plus"></em><span>Thêm quản trị viên</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div><!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->
                                <div class="nk-block">
                                    <div class="nk-tb-list is-separate mb-3">
                                        <div class="nk-tb-item nk-tb-head">
                                            <div class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                    <input type="checkbox" class="custom-control-input" id="uid">
                                                    <label class="custom-control-label" for="uid"></label>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col"><span class="sub-text">Tên khách hàng</span></div>
                                            <div class="nk-tb-col tb-col-mb"><span class="sub-text">Ordered</span></div>
                                            <div class="nk-tb-col tb-col-md"><span class="sub-text">Số điện thoại</span></div>
                                            <div class="nk-tb-col tb-col-lg"><span class="sub-text">Địa chỉ</span></div>
                                            <div class="nk-tb-col tb-col-lg"><span class="sub-text">Ngày đăng kí</span></div>
                                            <div class="nk-tb-col tb-col-md"><span class="sub-text">Trạng thái</span></div>
                                            <div class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1 my-n1">
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger mr-n1" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a href="#"><em class="icon ni ni-mail"></em><span>Send Email to All</span></a></li>
                                                                    <li><a href="#"><em class="icon ni ni-na"></em><span>Suspend Selected</span></a></li>
                                                                    <li><a href="#"><em class="icon ni ni-trash"></em><span>Remove Seleted</span></a></li>
                                                                    <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Reset Password</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- .nk-tb-item -->
                                        <div class="nk-tb-item" th:each="customer : ${customers}">
                                            <div class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                    <input type="checkbox" class="custom-control-input" id="uid1">
                                                    <label class="custom-control-label" for="uid1"></label>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col">
                                                <a href="html/ecommerce/customer-details.html">
                                                    <div class="user-card">
                                                        <div class="user-avatar bg-primary">
                                                            <span th:utext="${customer.username}"></span>
                                                        </div>
                                                        <div class="user-info">
                                                            <span class="tb-lead" th:utext="${customer.fullname}">Abu Bin Ishtiyak <span class="dot dot-success d-md-none ml-1"></span></span>
                                                            
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nk-tb-col tb-col-mb">
                                                <span th:utext="${customer.email}">info@softnio.com</span>
                                            </div>
                                           
                                            <div class="nk-tb-col tb-col-md">
                                                <span th:text="${customer.phone}">+811 847-4958</span>
                                            </div>
                                            <div class="nk-tb-col tb-col-lg">
                                                <span th:text="${customer.address}">United State</span>
                                            </div>
                                            <div class="nk-tb-col tb-col-lg">
                                                <span th:text="${customer.dateregister}">10 Feb 2020</span>
                                            </div>
                                            <div class="nk-tb-col tb-col-md" th:if="${customer.activated == true}">
                                                <span class="tb-status text-success">Đã kích hoạt</span>
                                            </div>
                                            <div class="nk-tb-col tb-col-md" th:unless="${customer.activated == true}">
                                                <span class="tb-status text-danger">Chưa kích hoạt</span>
                                            </div>
                                            <div class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1">
                                                    <li class="nk-tb-action-hidden">
                                                        <a href="#" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top" title="Gửi mail">
                                                            <em class="icon ni ni-mail-fill"></em>
                                                        </a>
                                                    </li>
                                                    <li class="nk-tb-action-hidden">
                                                        <a href="#" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top" title="Xóa người dùng">
                                                            <em class="icon ni ni-user-cross-fill"></em>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a th:href="@{/admin/customer-detail/{username}(username=${customer.username})}"><em class="icon ni ni-eye"></em><span>Xem chi tiết</span></a></li>
                                                                    <li><a href="add-order"><em class="icon ni ni-repeat"></em><span>Tạo order mới</span></a></li>
                                                                    <li th:if="${customer.admin == true && customer.username != session.ADMININJD.getUsername() }"><a th:href="@{/admin/customer/delete/{username}(username=${customer.username})}"><em class="icon ni ni-na"></em><span>Xóa người dùng</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- .nk-tb-item -->
                                        
                   
                                    </div><!-- .nk-tb-list -->
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="nk-block-between-md g-3">
                                                <div class="g">
                                                    <ul class="pagination justify-content-center justify-content-md-start">
                                                        <li  class="page-item" >
                                                        	<a class="page-link" th:if="${currentPage > 1}" th:href="@{'/admin/customer/page/' + ${currentPage -1}+${keyword != null ? '?keyword=' + keyword : ''}}">
                                                        		<em class="icon ni ni-chevrons-left"></em>
                                                       		</a>
                                                       		<a class="page-link" th:unless="${currentPage > 1}" hidden="hidden">
                                                        		<em class="icon ni ni-chevrons-left"></em>
                                                       		</a>
                                                        </li>
                                                        
                                                        <li  th:each="i: ${#numbers.sequence(1, totalPages)}" th:class="${i == currentPage ? 'page-item active' : 'page-item'}">
                                                        	<a class="page-link" th:href="@{'/admin/customer/page/' + ${i}+${keyword != null ? '?keyword=' + keyword : ''}}">[[${i}]]</a>
                                                        	
                                                        </li>
                                               
                                                        <li  class="page-item" >
                                                        	<a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/customer/page/' + ${currentPage +1}+${keyword != null ? '?keyword=' + keyword : ''}}">
                                                        		<em class="icon ni ni-chevrons-right"></em>
                                                       		</a>
                                                       		<a class="page-link" th:unless="${currentPage < totalPages}" hidden="hidden">
                                                        		<em class="icon ni ni-chevrons-right"></em>
                                                       		</a>
                                                        </li>
                                                    </ul><!-- .pagination -->  
                                                </div>
                                                <div class="g">
                                                    <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
                                                        <div>Page</div>
                                                        <div>
                                                            <select class="form-select form-select-sm" data-search="on" data-dropdown="xs center">
                                                                <option value="page-1">1</option>
                                                                <option value="page-2">2</option>
                                                                <option value="page-4">4</option>
                                                                <option value="page-5">5</option>
                                                                <option value="page-6">6</option>
                                                                <option value="page-7">7</option>
                                                                <option value="page-8">8</option>
                                                                <option value="page-9">9</option>
                                                                <option value="page-10">10</option>
                                                                <option value="page-11">11</option>
                                                                <option value="page-12">12</option>
                                                                <option value="page-13">13</option>
                                                                <option value="page-14">14</option>
                                                                <option value="page-15">15</option>
                                                                <option value="page-16">16</option>
                                                                <option value="page-17">17</option>
                                                                <option value="page-18">18</option>
                                                                <option value="page-19">19</option>
                                                                <option value="page-20">20</option>
                                                            </select>
                                                        </div>
                                                        <div>OF 102</div>
                                                    </div>
                                                </div><!-- .pagination-goto -->
                                            </div><!-- .nk-block-between -->
                                        </div>
                                    </div>
                                </div><!-- .nk-block -->
                            </div>
                        </div>
                    </div>
                </div>
</body>
</html>