
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Category</h3>
                                        </div><!-- .nk-block-head-content -->
                                        <div class="nk-block-head-content">
                                            <div class="toggle-wrap nk-block-tools-toggle">
                                                <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                                <div class="toggle-expand-content" data-content="pageMenu">
                                                    <ul class="nk-block-tools g-3">
                                                        <li>
                                                            <div class="form-control-wrap">
                                                                <div class="form-icon form-icon-right">
                                                                    <em class="icon ni ni-search"></em>
                                                                </div>
                                                                <form th:action="@{/admin/category/page/1}">
                                                                	<input type="text" class="form-control" id="default-04" name="keyword" th:value="${keyword}" onchange="this.form.submit()" placeholder="Tìm kiếm">
                                                                </form>
                                                            </div>
                                                        </li>
                                                        <li class="nk-block-tools-opt">
                                                            <a href="#" class="btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a>
                                                            <a ng-href="#!add-category" class="btn btn-primary d-none d-md-inline-flex"><em class="icon ni ni-plus"></em><span>Thêm mới</span></a>
                                                            
                                                        </li>
                                                    </ul>
                                                </div>
                                                
                                            </div>
                                            
                                        </div><!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->
                                <div class="nk-block">
                                    <div class="nk-tb-list is-separate is-medium mb-3">
                                        <div class="nk-tb-item nk-tb-head">
                                            <div class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                    <input type="checkbox" class="custom-control-input" id="uid">
                                                    <label class="custom-control-label" for="uid"></label>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md"><span>Category Id</span></div>
                                            <div class="nk-tb-col tb-col-sm"><span></span></div>
                                            <div class="nk-tb-col tb-col-md"><span>Tên loại</span></div>
                                            <div class="nk-tb-col tb-col-sm"><span></span></div>
                                            <div class="nk-tb-col tb-col-sm"><span></span></div>
                                            <div class="nk-tb-col tb-col-sm"><span></span></div>
                                            <div class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1 my-n1">
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger mr-n1" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a href="#"><em class="icon ni ni-edit"></em><span>Update Status</span></a></li>
                                                                    
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- .nk-tb-item -->
                                        
                                        
                                        <div class="nk-tb-item" ng-repeat="cate in items">
                                            <div class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                    <input type="checkbox" class="custom-control-input" id="uid2">
                                                    <label class="custom-control-label" for="uid2"></label>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col">
                                                <span class="tb-lead" ><a href="#"></a>{{cate.id}}</span>
                                            </div>
                                            <div class="nk-tb-col tb-col-sm">
                                                <span class="tb-sub"></span>
                                            </div>
                                            <div class="nk-tb-col tb-col-md">
                                                <span class="tb-sub text-primary">{{cate.name}}</span>
                                            </div>
                                            <div class="nk-tb-col">
                                                <span class="tb-lead"></span>
                                            </div>
                                            <div class="nk-tb-col">
                                                <span class="tb-lead"></span>
                                            </div>
                                            <div class="nk-tb-col">
                                                <span class="tb-lead"></span>
                                            </div>
                                            <div class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1">
                                                    <li class="nk-tb-action-hidden">
                                                        <a ng-href="#!category/{{cate.id}}" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
                                                            <em class="icon ni ni-eye"></em>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <div class="drodown mr-n1">
                                                            <a href="" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a ng-href="#!category/{{cate.id}}"><em class="icon ni ni-eye"></em><span>Chỉnh sửa</span></a></li>
                                                                    <li><a th:href="@{/admin/delete/{id}(id=${category.id})}"><em class="icon ni ni-trash"></em><span>Xóa</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- .nk-tb-item -->
                                    </div><!-- .nk-tb-list -->
                                    
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="nk-block-between-md g-3">
                                                <div class="g">
                                                    <ul class="pagination justify-content-center justify-content-md-start">
                                                        <li  class="page-item" >
                                                        	<a class="page-link" th:if="${currentPage > 1}" th:href="@{'/admin/category/page/' + ${currentPage -1}+${keyword != null ? '?keyword=' + keyword : ''}}">
                                                        		<em class="icon ni ni-chevrons-left"></em>
                                                       		</a>
                                                       		<a class="page-link" th:unless="${currentPage > 1}" hidden="hidden">
                                                        		<em class="icon ni ni-chevrons-left"></em>
                                                       		</a>
                                                        </li>
                                                        
                                                        <li class="page-item"  th:each="i: ${#numbers.sequence(1, totalPages)}">
                                                        	<a class="page-link" th:href="@{'/admin/category/page/' + ${i}+${keyword != null ? '?keyword=' + keyword : ''}}">[[${i}]]</a>
                                                        	
                                                        </li>
                                               
                                                        <li  class="page-item" >
                                                        	<a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/category/page/' + ${currentPage +1}+${keyword != null ? '?keyword=' + keyword : ''}}">
                                                        		<em class="icon ni ni-chevrons-right"></em>
                                                       		</a>
                                                       		<a class="page-link" th:unless="${currentPage < totalPages}" hidden="hidden">
                                                        		<em class="icon ni ni-chevrons-right"></em>
                                                       		</a>
                                                        </li>
                                                    </ul><!-- .pagination --> 
                                                </div>
                                                <div class="g">
                                                    <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
                                                        <div>Page</div>
                                                        <div>
                                                            <select class="form-select form-select-sm" data-search="on" data-dropdown="xs center">
                                                                <option value="page-1">1</option>
                                                                <option value="page-2">2</option>
                                                                <option value="page-4">4</option>
                                                                <option value="page-5">5</option>
                                                                <option value="page-6">6</option>
                                                                <option value="page-7">7</option>
                                                                <option value="page-8">8</option>
                                                                <option value="page-9">9</option>
                                                                <option value="page-10">10</option>
                                                                <option value="page-11">11</option>
                                                                <option value="page-12">12</option>
                                                                <option value="page-13">13</option>
                                                                <option value="page-14">14</option>
                                                                <option value="page-15">15</option>
                                                                <option value="page-16">16</option>
                                                                <option value="page-17">17</option>
                                                                <option value="page-18">18</option>
                                                                <option value="page-19">19</option>
                                                                <option value="page-20">20</option>
                                                            </select>
                                                        </div>
                                                        <div>OF 102</div>
                                                    </div>
                                                </div><!-- .pagination-goto -->
                                            </div><!-- .nk-block-between -->
                                        </div>
                                    </div>
                                </div><!-- .nk-block -->
                            </div>
                        </div>
                    </div>