
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="nk-block-title">Update Category</h5>
                                            <div class="nk-block-des">
                                                <p>Update information category.</p>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block-head -->
                                    <div class="nk-block">
                                    <form  method="post">
                                        <div class="row g-3">
                                        
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="product-title">Id</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" ng-model="cate.id" class="form-control" placeholder="Id" id="id" disabled="disabled">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="product-title">Loại sản phẩm</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" ng-model="cate.name" class="form-control" placeholder="Name" id="name">
                                                         
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-12">
                                                <button ng-click="update()" class="btn btn-primary"><em class="icon ni ni-plus"></em><span>Cập nhập</span></button>
                                            </div>
                                           
                                        </div>
                                     </form>
                                </div>
                            </div>
                        </div>
                    </div>